@media screen and (max-width: 750px) {

body
{
    font-family: 'Roboto','Shrikhand';
}

h3
{
    font-family: 'Shrikhand' ;
    padding-top: 20px;
}

h5
{
    font-weight: lighter;
    text-transform: uppercase;
    border-bottom: #99E2D0 solid 2px;
    width: 2em;
}

h6
{
    font-family: 'Shrikhand';
    color: white;
    display: inline;
}

.accl_logo {
    width: 40%;
    display: block;
    margin:auto;
    }

.accl_menu{
    width: 100%;
    background: #F2F2F2;
    height: 1400px;
}

.accl_menu--under{
    height: 250px;
}

.accl_menu--pic{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.accl_plats{
    padding-left: 1em;
}

.accl_plats_entrees{
    background-color: #F2F2F2;
    border-radius: 12px 12px 12px 12px;
    padding-left: 1em;
    position: relative;
    top: -50px;
    border-radius: 20px 20px;
}
.--choix
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 11px 0px lightgrey;
    height: 3.5em;
    line-height: 1.5em;
    width: 95%;
    padding-left: 5px;
    padding-top: 3px;
    &:active{
        &.apparition{
            transform: scaleX(1);
            animation-name: apparition;
            animation-duration: 1000ms;
        }
    }
}

@keyframes apparition{
    from{
        transform: scale(0);
    }
    to{
        transform:scale(1)
    }
}


/*.--choix{
    &:hover{
    transform :scale(1)
    span{
        transform: translateY(-2);
    }
}
}

.--choix{
    transform: scale(0.1);
    transition: transform 330ms ease-in-out;
    overflow: hidden;
    span{
        display: inline-block;
        transform: translateY(0);
        transition: transform 280ms ease-in-out 50ms;
        display: block;
    }
}

.--choix{
    opacity: 0;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
}
  
.--choix:hover{ //keyframes
  opacity: 1;
}
*/
span.--text
{
    font-weight: lighter;
    font-size: smaller;
}

span.--prix
{
    font-weight: bold;
    float: right;
    margin-right: 10px;
}

.btn
{
    background: linear-gradient(#FF79DA,#9356DC);
    color: white;
    box-shadow: -1px 8px 13px 1px lightgrey;
    border-radius: 30px;
    padding-top: 1em;
    text-align: center;
    width: 50%;
    height: 2em;
    margin: auto;
    margin-top: 2em;
}

#accl-footer
{
    background-color: rgba(0, 0, 0, 0.749);
    padding-left: 1em;
}

.fas
{
    color: gray;
    padding-right: 1em;

}

li
{
    list-style:none;
    padding-left: 0em;
    line-height: 1.5em;
    font-size: 10px;
}

a
{
    text-decoration: none;
    color: white;
}
}